.filtersSidebar {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.filtersListTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 18px;
}

.filtersListTitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: #414446;
}

.filtersListFilter {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.filtersListItem:not(:last-child) {
    margin-bottom: 15px;
}

.filtersListIcon {
    transition: all 0.3s;
}

.filtersListIconActive {
    transform: rotate(180deg);
}